input {
		keyboard {
				repeat-rate 35
				repeat-delay 200
				xkb {
				}
		}
		touchpad {
				tap
		}
		mouse {
		}
		trackpoint {
		}
		focus-follows-mouse max-scroll-amount="0%"
}
cursor {
		xcursor-theme "Adwaita"
		xcursor-size 24
		hide-when-typing
		hide-after-inactive-ms 500
}
/-output "eDP-1" {
		mode "1920x1080@120.030"
		scale 2
		transform "normal"
		position x=1280 y=0
}
layout {
		gaps 0
		center-focused-column "never"
		preset-column-widths {
				proportion 0.33333
				proportion 0.5
				proportion 0.66667
		}
		default-column-width { proportion 0.5; }
		focus-ring {
				width 1
				active-color "#7fc8ff"
				inactive-color "#505050"
		}
		border {
				off
				width 4
				active-color "#ffc87f"
				inactive-color "#505050"
				urgent-color "#9b0000"
		}
		shadow {
				softness 30
				spread 5
				offset x=0 y=5
				color "#0007"
		}
		struts {
		}
}
spawn-at-startup "swayidle"
spawn-sh-at-startup "emacs --daemon"
spawn-sh-at-startup "swaybg -i ~/stash/pics/ecl.jpg"
hotkey-overlay {
		skip-at-startup
}
prefer-no-csd
screenshot-path "~/pics/%Y-%m-%d %H-%M-%S.png"
animations {
		off
}
window-rule {
		match app-id=r#"^org\.wezfurlong\.wezterm$"#
		default-column-width {}
}
window-rule {
		match app-id=r#"firefox$"# title="^Picture-in-Picture$"
		open-floating true
}
/-window-rule {
		match app-id=r#"^org\.keepassxc\.KeePassXC$"#
		match app-id=r#"^org\.gnome\.World\.Secrets$"#
		block-out-from "screen-capture"
}
/-window-rule {
		geometry-corner-radius 12
		clip-to-geometry true
}

binds {
		Mod+Shift+Slash { show-hotkey-overlay; }
		Mod+Shift+Return { spawn "icecat"; }
		Mod+P { spawn "chromium"; }
		Super+Return { spawn-sh "emacsclient --create-frame"; }

		XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
		XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
		XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
		XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

		XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
		XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }

		Mod+Tab repeat=false { toggle-overview; }
		Mod+Q repeat=false { close-window; }

		Mod+A { focus-column-left; }
		Mod+S { focus-window-or-workspace-down; }
		Mod+D { focus-column-right; }
		Mod+W { focus-window-or-workspace-up; }

		Mod+Ctrl+A { move-column-left; }
		Mod+Ctrl+D { move-column-right; }
		Mod+Ctrl+S { move-window-down-or-to-workspace-down; }
		Mod+Ctrl+W { move-window-up-or-to-workspace-up; }

		Mod+1 { focus-workspace 1; }
		Mod+2 { focus-workspace 2; }
		Mod+3 { focus-workspace 3; }
		Mod+4 { focus-workspace 4; }
		Mod+5 { focus-workspace 5; }
		Mod+6 { focus-workspace 6; }
		Mod+7 { focus-workspace 7; }
		Mod+8 { focus-workspace 8; }
		Mod+9 { focus-workspace 9; }
		Mod+Ctrl+1 { move-column-to-workspace 1; }
		Mod+Ctrl+2 { move-column-to-workspace 2; }
		Mod+Ctrl+3 { move-column-to-workspace 3; }
		Mod+Ctrl+4 { move-column-to-workspace 4; }
		Mod+Ctrl+5 { move-column-to-workspace 5; }
		Mod+Ctrl+6 { move-column-to-workspace 6; }
		Mod+Ctrl+7 { move-column-to-workspace 7; }
		Mod+Ctrl+8 { move-column-to-workspace 8; }
		Mod+Ctrl+9 { move-column-to-workspace 9; }

		Mod+F { maximize-column; }
		Mod+Shift+F { fullscreen-window; }

		Print { screenshot; }
		Ctrl+Print { screenshot-screen; }
		Alt+Print { screenshot-window; }

		Mod+Shift+E { quit; }
}
gestures {
		hot-corners {
				off
		}
}